header {
    background-image: linear-gradient(to bottom right, black, #1079B2);
    box-shadow: 0 2px 8px black;
    position: fixed;
    width: 100%;
    z-index: 1;
}
nav {
    display: flex;
    justify-content: space-around;
    padding: 1%;
}
nav a {
    text-decoration: none;
    color: #15abbe;
    text-shadow: #04d9ff 0 0 10px;
    font-weight: bold;
    transform: rotate(0deg);
    padding: 0.5%;
    border-radius: 10px 0;
}
nav a:hover:not(.active) {
    transform: rotate(180deg);
    font-weight: bold;
    background-color: rgba(107, 107, 107, 0.6);
    color: #15abbe;
    text-shadow: black 0 0 4px;
}
.active {
    background-color: rgba(220, 220, 220, 0.6);
    color: black;
    text-shadow: dimgray 0 0 4px;
    transform: rotate(180deg);
}